html {
    font-size: 15px;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-image: url("images/a-b-sfondo-minions.jpg");
    
  }
  
  .footer,
  .header {
    height: 11rem;    
   border-radius: 0.5rem;
  }
  
  .header {
     
    position: relative;
    top: 0;
    left: 0;
  }
  
  .header h2 {
    font-size: 5.5vw;
    text-align: center;
    margin: auto;
    color: #f74d58;
    margin-top: 2rem;
  }
  
  .header img {
    display: inline-block;
    height: 8rem;
    position: relative;
    top: 1rem;
    left: auto;
  }

.img-hello {
    display: block;
    position: relative;
    top: -280px;
    height: 190%;
    max-width: 30%;
      
  }

  
  textarea {
    display: block;
    margin: 1rem;
    padding: 1rem;
    height: 24.1vh;
    width: 50%;
    border-radius: 0.5rem;
    font-size: 2rem;
    resize: none;
     
  }
  
  button {
    border: 0.2rem solid #4b2582;
    border-radius: 0.5rem;
    width: 12rem;
    height: 4rem;
    font-size: 2rem;
  }
  
  button:hover {
    background-color: #a5d6a7;
    font-weight: bolder;
  }
  
  .footer {
    border: 0.2rem solid #f7f5fa;
    border-radius: 0.5rem ;
    font-size: 2.21em;
    color: #ffffff;
    padding: 0.4rem;
      
  }
  
  .github,
  .linkedin,
  .twitter,
  .mail {
    width: 3vmax;
    height: 3vmax;
    margin: 0rem 1rem;
  }
  
  .connect {
    margin: 0.8rem;
  }
  
  .copy {
    margin: 0;
    font-size: 150%;
  }
  
  .img-hello {
    display: block;
    position: relative;
    top: -280px;
    height: 190%;
    max-width: 30%;
      
  }

